body{
    background-color: hsl(0, 0%, 95%);
    
}
#card{
    display:  flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: center;
    margin-top: 10%;
}
.ld{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 15%;
}
.bsv{
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
    margin-top: 15%;
}
#Sedans{
    background-color: hsl(31, 77%, 52%);
    padding: 5%;
    border-radius: 12px 0px 0px 12px;
    overflow: hidden;
}
#SUVs{
    background-color: hsl(184, 100%, 22%);
    padding: 5%;
}
#Luxury{
    background-color: hsl(179, 100%, 13%);
    padding:5%;
    border-radius: 0px 12px 12px 0px;
}
.head{
    font-weight: 700;
    font-size: xx-large;
}
.button{
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-radius: 35px;
    width: 60%;
    height: 15%; 
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
}
.lux{
   color: hsl(179, 100%, 13%);
}
.lux:hover{
    background-color: hsl(179, 100%, 13%);
    border-style: solid;
    border-width: 2px;
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
.sed{
    color: hsl(31, 77%, 52%);
}
.sed:hover{
    background-color: hsl(31, 77%, 52%);
    border-style: solid;
    border-width: 2px;
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
.suv{
    color: hsl(184, 100%, 22%);
}
.suv:hover{
    background-color: hsl(184, 100%, 22%);
    border-style: solid;
    border-width: 2px;
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
